header h1 {
	font-size:125%;
	font-family:Arial;
}
header img {
	width: 8%;
	display:inline-block;
	float:left;
	vertical-align: top;
}
.contact {
	display:inline-block;
	width:40%;
	margin-right:3%;
	margin-left:3%;
}
