header{
	height:175px;
	text-align:right;
}

header h1 {
	font-size:125%;
	font-family:Arial;
	display:inline-block;
	position:relative;
	bottom:-125px;
}
header img {
	height:150px;
	display:inline-block;
	float:left;
	vertical-align: top;
}
.contactlist{
	width:30%;
	display:inline-block;
	margin-right:3%;
	vertical-align:top;
}
.contact img{
	width:37%;
}
.about{
	width:50%;
	display:inline-block;
}
.about div{
	display:inline-block;
	margin-right: 5%;
	vertical-align:top;
}
.skills {
	width:45%;
	display:inline-block;
}
.skills ul{
	list-style-type:square;
}
footer nav a{
	display:inline-block;
	width:20%;
	text-decoration: none;
}
